* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla';
}

.art1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid lightgray;
    width: 400px;
}

body>article.art1>label {
    font-weight: 600;
}


.art1 input,
button {
    width: 100px;
}

#inputZve {
    border: 0.5px solid lightgray;
    border-radius: 2px;
    height: 20px;
    width: 121px;
}

#rNein,
#rJa {
    width: 40px;
}

.art2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid lightgray;
    width: 400px;
}

.art2 input {
    width: 300px;
}

textarea {
    width: 300px;
}


h1 {
    margin-left: 5vw;
    margin-top: 5vh;
}

.art1,
.art2 {
    margin-left: 5vw;
    margin-top: 5vh;
    padding-left: 10px;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

button {
    padding: 5px;
    background-color: #2196f3;
    color: #ffff;
    border-radius: 4px;
    border: 1px solid #2196f3;
}

#outputEst,
.art2>label {
    font-weight: 600;
}

footer {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 2vh;
    margin-top: 23vh;
    text-align: center;
}